<div class="archive-toc">
  <div class="title"><h4>百问 TDD</h4></div>
  <div class="separator">
    <hr/>
  </div>
  <div class="content">
    {% assign index = 1 %}
    {% assign prefix = '' %}
    {% for post in site.pages %}
    {% if post.tag == 'tdd-question-100' %}
    {% if index < 10 %}
      {% assign prefix = '00' | append: index %}
    {% elsif index < 100 %}
      {% assign prefix = '0' | append: index %}
    {% endif %}
    <ul><a href="{{ post.url }}">{{prefix | append: '：' |append: post.title }}</a></ul>
    {% assign index = index | plus: 1 %}
    {% endif %}
    {% endfor %}
  </div>
</div>

