---
layout: default
---

<article class="post">

  <h1 class="post-title"><i>{{ page.title }}</i></h1>

  <p class="post-meta">
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%Y-%m-%d" }}</time>

    {% if page.author %}
      &nbsp;/&nbsp;
      <span>{{ page.author }}</span>
    {% endif %}
  </p>

  <div class="post-content">

    {{ content }}
    <p>
      <div class="height-30"></div>
    <hr>
      <b>
        期待你的回答，让你的知识和经验帮助到更多的人，中国程序员界将因你而变得更美好~
      </b>
    </p>

    {% include comments.html %}

  </div>

  {% include refactoring-100-toc.html %}
</article>

